<ion-header>
  <ion-toolbar>
    <ion-title>
      paket wisata jogja 1 hari
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-content>
        <ion-img src="/assets/borobudur1-1024x683.jpg"></ion-img>
      
      <p>- Paket 1</p>
      <p>- Mulai Rp.360.000 pax </p>
      <p>- Candi Borobudur</p>
      <p>- Merapi Lava Tour</p>
      <p>- Malioboro</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-content>
        <ion-img src="/assets/hutan_pinus-pinterest1a.jpg"></ion-img>
        <p>- Paket 2 </p>
        <p>- Mulai Rp.320.000 pax</p>
        <p>- Hutan Pinus Sari</p>
       <p>- Landasan Pacu Pantai Depok </p>
       <p>- Gumuk Pasir</p>
       <p>- Bukit Paralayang Parangkritis</p>
          </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-content>
        <ion-img src="/assets/lokasi-candi-ijo.jpg"></ion-img>
        <p>- Paket 3</p>
        <p>- Mulai Rp.230.000 pax </p>
        <p>- Pantai Wediombo</p>
       <p>- Hutan Pinus Pengger</p>
       <p>- Tebing Breksi</p>
       <p>- Candi Ijo</p>
          </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-content>
        <ion-img src="/assets/maxresdefault.jpg"></ion-img>
        <p>- Paket 4</p>
        <p>- Mulai Rp.275.000 pax </p>
        <p>- Keraton Ngayogyakarta</p>
       <p>- Taman Sari Water Castle</p>
       <p>- Musium De Mata Tric eye</p>
       <p>- Explore Kotagede</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-content>
        <ion-img src="/assets/@maleostory.jpg"></ion-img>
        <p>- Paket 5</p>
        <p>- Mulai Rp.275.000</p>
        <p>- Umbul Ponggok Klaten</p>
       <p>- Warna : Candi Prambanan/Ratu Boko</p>
       <p>- Tebing Breksi</p>
       <p>- Candi Ijo</p>
    </ion-card-content>
  </ion-card>
</ion-content>
